@model IEnumerable<Product>
@{
    ViewData["Title"] = "Product listings";
}

<h1>Product Catalog</h1>

<p>
    @TempData["Message"]
</p>


<a asp-action="Add">Add Product</a>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Category</th>
            </tr>    
        </thead>
        <tbody>
            @foreach(Product p in Model)
            {
                <tr>
                    <td>@p.Title</td>
                    <td>@Html.DisplayFor(m => p.Price)</td>
                    <td>@p.category</td>                    <td>
                        <a class="btn btn-secondary" asp-route-id="@p.ProductId" asp-action="Edit">Edit</a>
                        <a class="btn btn-danger" href="">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
